################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Debug
*.user
Release
/test1/text.txt
*.diagsession
/test1.psess
/test1190206.vspx
/test1/test1-cppcheck-build-dir
